:root {
  --primary-logo-iris: #4d5ae5;
  --primary-text-navyblue: #2e2f42;
  --primary-background-white: #fff;
  --secondary-text-slate: #434455;
  --secondary-bottom-cloud: #f4f4fd;
  --secondary-top-cornflower: #e7e9fc;
  --secondary-button-ocean: #404bbf;
}
/* general */
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
/* to remove bullet */
.list {
  list-style: none;
}

/* logo */
.web {
  color: var(--primary-logo-iris);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.studio {
  color: var(--primary-text-navyblue);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.header-contact {
  color: var(--secondary-text-slate);
}

/* to remove underline in link */
.link {
  text-decoration: none;
}

/* section 1 */
.hero {
  background: var(--primary-text-navyblue);
}

/* Effective Solutions for your Business*/
.hero-title {
  color: var(--primary-background-white);
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px;
}

/* Button or Order Service */
.button {
  background-color: var(--primary-logo-iris);
  color: var(--primary-background-white);
  border: none;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  border-radius: 4px;
  cursor: pointer;
}

/* section 2 */
.benefits-title {
  color: var(--primary-text-navyblue);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.4px;
}

.benefits-description {
  color: var(--secondary-text-slate);
}

/* What are we doing and Our Team */
.section-title {
  color: var(--primary-text-navyblue);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

/* section 3 */
.section-grey {
  background: var(--secondary-bottom-cloud);
}

.team-name {
  color: var(--primary-text-navyblue);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
}

.team-position {
  color: var(--secondary-text-slate);
}

/* footer */
.footer {
  background-color: var(--primary-text-navyblue);
}

/* Studio color of footer */
.white {
  color: var(--secondary-bottom-cloud);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.footer-text {
  color: var(--secondary-bottom-cloud);
}

/* Portfolio page */
.filter-title {
  color: var(--primary-text-navyblue);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
}

.filter-description {
  color: var(--secondary-text-slate);
}

/* buttons */
.filter-item {
  color: var(--primary-button-color);
  background-color: var(--secondary-top-cornflower);
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  border-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid var(--secondary-top-cornflower);
}

.header-link {
  color: var(--primary-text-navyblue);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.header-contact:hover,
.header-contact:focus {
  color: var(--primary-logo-iris);
}
.header-link:hover,
.header-link:focus {
  color: var(--primary-logo-iris);
}

.header-link.current {
  color: var(--primary-logo-iris);
}

.filter-item {
  color: var(--primary-logo-iris);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
}

.filter-item:hover,
.filter-item:focus,
.filter-item.active {
  background-color: var(--secondary-button-ocean);
  color: var(--primary-background-white);
  border-color: var(--secondary-button-ocean);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
