:root {
  --primary-logo-color: #4d5ae5;
  --primary-text-color: #2e2f42;
  --primary-background-color: #fff;
  --primary-button-color: #4d5ae5;
  --secondary-text-color: #434455;
  --secondary-bottom-color: #f4f4fd;
  --secondary-background-color: #2e2f42;
  --secondary-top-color: #e7e9fc;
  --secondary-button-color: #404bbf;
}

body {
  font-family: "Roboto", sans-serif;
}
/* to remove bullet */
.list {
  list-style: none;
}
/* to remove underline in link */
.link {
  text-decoration: none;
}
.top-text {
  color: var(--secondary-background-color);
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.bottom-text {
  color: var(--secondary-background-color);
}

.filter-item {
  color: var(--primary-button-color);
  background-color: var(--secondary-bottom-color);
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  border-color: transparent;
  border-radius: 4px;
  cursor: pointer;
}

.web {
  color: var(--primary-button-color);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.studio {
  color: var(--primary-text-color);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.white {
  color: var(--secondary-bottom-color);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.button {
  background-color: var(--primary-button-color);
  color: var(--primary-background-color);
  border-color: transparent;
  font-family: inherit;
}

.header-link {
  color: var(--primary-text-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.header-link:hover,
.header-link:focus {
  color: var(--primary-logo-color);
}

.button.filter-item:hover,
.button.filter-item:focus {
  background-color: var(--primary-button-color);
}

.header-link.current {
  color: var(--primary-logo-color);
}

.filter-item {
  color: var(--primary-button-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
}

.filter-item:hover,
.filter-item:focus,
.filter-item.active {
  background-color: var(--secondary-button-color);
  color: var(--primary-background-color);
}

.main {
  background-color: var(--primary-text-color);
}

.main-section {
  color: var(--primary-background-color);
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px;
}

.footer {
  background-color: var(--primary-text-color);
}

.footer-section-text {
  color: var(--secondary-bottom-color);
}
